/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

.page-bg {
  max-width: 1360px;
  margin: 0 auto;
  width: 100%;
}

.content-container {
  padding: 24px;
}

.group-header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 24.88px;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 1em;
  letter-spacing: 0.025em;
}

.group-subheader {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18.66px;
  line-height: 22px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin-top: 1em;
}

.ant-btn {
  border-radius: 0px;
}

.ant-btn-primary {
  background-color: #2D3F5E;
}

.ant-btn-primary:hover {
  background-color: #476393 !important;
}

.ant-btn-default:hover {
  border-color: #476393 !important;
  color: #476393 !important;
}

.ant-menu-item-selected {
  background-color: #476393 !important;
}